using UnityEngine;
using System.Collections;

public class TakeShot : MonoBehaviour {

	public float maxScale = 2048;

	void OnGUI()
	{
		if( GUILayout.Button("take"))
		{
			var max = Mathf.Max(Screen.width, Screen.height);
			int width = (int)(maxScale * Screen.width / max );
			int height = (int)(maxScale * Screen.height / max);

			var rt = RenderTexture.GetTemporary(width, height);
			var tex = new Texture2D(width, height, TextureFormat.ARGB32, false, false);

			camera.targetTexture = rt;
			camera.Render();

			RenderTexture.active = rt;
			tex.ReadPixels( new Rect(0, 0, width, height), 0, 0);
			tex.Apply();

			camera.targetTexture = null;
			RenderTexture.active = null;

			System.IO.File.WriteAllBytes("image.jpg", tex.EncodeToPNG());
		}
	}
}
